body {
  padding: 32px;
  margin: 32px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}

.container {
  margin-bottom: 40px;
  padding:20px;
  background-color: #eee;
  border: 1px solid #ccc;
}